<ol class="breadcrumb">
    <li><%= link_to "My Hunts", hunts_path %></a></li>
    <li class="active"><a href=""><%= @hunt.title %></a></li>
</ol>

<%= link_to 'FvB Simple', easymarklet_js('fvb_simple_bookmarklet.js') %>

<section class="panel panel-default">
  <div class="panel-heading">
    <strong>
      <span class="glyphicon glyphicon-th"></span>
      <span data-i18n="Add New Apartment"></span>
        <a href="#" class="addnewapt" ng-click="isCollapsed = !isCollapsed">
           <i class="fa fa-plus"></i> </a></span></strong>
        </div>
        <div class="panel-body">
          <div collapse="isCollapsed">
         <%= render 'apartments/form' %>
          </div>
        </div>
</section>
<section class="panel panel-default">
  <div class="panel-heading">
    <strong>
      <span class="glyphicon glyphicon-th"></span> <%= @hunt.title %></span> <a href="#" class="addnewapt" >
          New Collaborator <i class="fa fa-plus"></i> </a>
    </strong>
      </div>
       <div class="panel-body">
  <table class="table table-hover">
    <thead>
      <tr>
        <th>View</th>
        <th>Street</th>
        <th>Unit</th>
        <th>Contact</th>
        <th>Link</th>
        <th>Price</th>
        <th>Status</th>
        <th></th>
      </tr>
    </thead>
    <tbody class="apartments">
      <% @hunt.apartments.each do |apt| %>
      <tr data-id=<%= apt.id %>>
        <td><%= link_to apartment_path(apt) do %>
          <i class="fa fa-home fa-2x"></i>
        <% end %></td>
        <td><%= apt.street %></td>
        <td><%= apt.unit %></td>
        <td><%= apt.contact %></td>
        <td><%= apt.link %></td>
        <td><%= apt.price %></td>
        <td><span class="ui-select"><%= select :apartment, :status, [" ", "Applied for", "Viewed", "No longer interested", "Contacted agent/landlord", "Application denied"], {selected: apt.status}, {class: "status", id: apt.id} %>
        </td></span>  
        <td><%= link_to 'Delete', apt, remote: true, method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
</section>
<!-- <div class="col-md-3">
  <div class="panel panel-profile">
                <div class="panel-heading bg-primary clearfix">
                    <a href="" class="pull-left profile">
                        <img alt="" src="http://placekitten.com/80/80" class="img-circle img80_80">
                    </a>
                    <h3 class="ng-binding">Your Hunt</br> Partners</h3>
                </div>
                <%= render '/users/invitations/form' %>
                </div>
                </div>
 -->


