<section class="panel panel-default">
  <div class="panel-heading">
    <strong>
      <span class="glyphicon glyphicon-th"></span>
      <span data-i18n="Add New Apartment"></span>
        <a href="#" class="addnewapt">
          <i class="fa fa-plus"></i> New</a></span></strong>
        </div>
        <div class="panel-body">
         <%= render 'apartments/form' %>
        </div>
</section>
<section class="panel panel-default">
  <div class="panel-heading">
    <strong>
      <span class="glyphicon glyphicon-th"></span> <%= @hunt.title %>
    </strong>
      </div>
       <div class="panel-body">
  <table class="table table-hover">
    <thead>
      <tr>
        <th>View</th>
        <th>Street</th>
        <th>Unit</th>
        <th>Price</th>
        <th></th>
        <th>Contact</th>
        <th>Link</th>
        <th>Price</th>
        <th>Status</th>
      </tr>
    </thead>
    <tbody class="apartments">
      <% @hunt.apartments.each do |apt| %>
      <tr data-id=<%= apt.id %>>
        <td><%= link_to apartment_path(apt) do %>
          <i class="fa fa-home fa-2x"></i>
        <% end %></td>
        <td><%= apt.street %></td>
        <td><%= apt.unit %></td>
        <td><%= apt.contact %></td>
        <td><%= apt.link %></td>
        <td><%= apt.price %></td>
        <td><%= link_to 'Delete', apt, remote: true, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <td><%= select :apartment, :status, [" ", "Applied for", "Viewed", "No longer interested", "Contacted agent/landlord", "Application denied"], {selected: apt.status}, {class: "status", id: apt.id} %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
</section>

<%= render '/users/invitations/form' %>

<%= link_to 'Edit Hunt', edit_hunt_path(@hunt) %>

