<!---------- BASIC APARTMENT INFORMATION ---------->
<div class="page ng-scope">

    <section class="panel panel-default">
        <div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span> <%= @apartment.street %></strong></div>
        <div class="panel-body ng-scope" data-ng-controller="RatingDemoCtrl">


<p>
  <strong>Unit:</strong>
  <%= @apartment.unit %>
</p>

<p>
  <strong>City:</strong>
  <%= @apartment.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @apartment.state %>
</p>

<p>
  <strong>Zip:</strong>
  <%= @apartment.zip %>
</p>

<p>
  <strong>Link:</strong>
  <%= @apartment.link %>
</p>

<p>
  <strong>Contact:</strong>
  <%= @apartment.contact %>
</p>

<p>
  <strong>Price:</strong>
  <%= @apartment.price %>
</p>

<p>
  <strong>Move In Date:</strong>
  <%= @apartment.move_in_date %>
</p>

<% if @apartment.status && @apartment.status != " " %>
  <p>
    <strong>Status:</strong>
    <%= @apartment.status %>
  </p>
<% end %>

<br>

<!---------- DETAILS ---------->
<% if @apartment.details %>
<div class="panel panel-default">
  <div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span> <span>Details:</span></strong></div>
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Picture</th>
        <th>Content</th>
        <th>Pro/Con</th>
        <th>Edit</th>
      </tr>
    </thead>
    <tbody>
      <% @apartment.details.each do |deet| %>
      <tr>
        <td><%= image_tag deet.image_url(:thumb) if deet.image_url %></td>
        <td><%= deet.content if deet.content %><br></td>
        <td>
          <%= form_for(deet) do |f| %>
          <div class="field">
            <%= f.label :procon, "Pro" %>
            <%= f.radio_button :procon, "pro", :class => "pro" %><br>
            <%= f.label :procon, "Con" %>
            <%= f.radio_button :procon, "con", :class => "con" %>
          </div>
          <% end %>
        </td>
        <td><%= link_to 'Edit', edit_detail_path(deet) %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>

<% end %>

<!---------- PRO/CON LIST ---------->

<div>
  PROS
</div>
<ul class="pro">
<% @apartment.details.each do |det| %>
  <% if det.procon == "pro" %>
    <li data-id=<%= det.id %>><%= det.content if det.content %></li>
  <% end %>
<% end %>
</ul>

<div>
  CONS
</div>
<ul class="con">
<% @apartment.details.each do |det| %>
  <% if det.procon == "con" %>
    <li data-id=<%= det.id %>><%= det.content if det.content %></li>
  <% end %>
<% end %>
</ul>

<!---------- LINKS ---------->
<div>
  <%= link_to 'Add New Details', new_apartment_detail_path(@apartment) %> |
  <%= link_to 'Back', hunt_apartments_path(@hunt.id) %>
</div>
   </div>
    </section>
</div>
