<!---------- BASIC APARTMENT INFORMATION ---------->
<p>
  <strong>Street:</strong>
  <%= @apartment.street %>
</p>

<p>
  <strong>Unit:</strong>
  <%= @apartment.unit %>
</p>

<p>
  <strong>City:</strong>
  <%= @apartment.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @apartment.state %>
</p>

<p>
  <strong>Zip:</strong>
  <%= @apartment.zip %>
</p>

<p>
  <strong>Link:</strong>
  <%= @apartment.link %>
</p>

<p>
  <strong>Contact:</strong>
  <%= @apartment.contact %>
</p>

<p>
  <strong>Price:</strong>
  <%= @apartment.price %>
</p>
<br>

<!---------- DETAILS ---------->
<% if @apartment.details %>
<h3>Details:</h3>
  <% @apartment.details.each do |det| %><br>
  <%= image_tag det.image_url(:thumb) if det.image_url %><br>
  <%= det.content if det.content %><br>
  <%= form_for(det) do |f| %>
  <div class="field">
    <%= f.label :procon, "Pro" %>
    <%= f.radio_button :procon, "pro", :class => "pro" %><br>
    <%= f.label :procon, "Con" %>
    <%= f.radio_button :procon, "con", :class => "con" %>
    <br><%= link_to 'Edit', edit_detail_path(det) %>
  </div>
  <% end %>
<% end %>
<% end %>

<!---------- PRO/CON LIST ---------->

<div>
  PROS
</div>
<ul>
<% @apartment.details.each do |det| %>
  <% if det.procon == "pro" %>
    <li><%= det.content if det.content %></li>
  <% end %>
<% end %>
</ul>

<div>
  CONS
</div>
<ul>
<% @apartment.details.each do |det| %>
  <% if det.procon == "con" %>
    <li><%= det.content if det.content %></li>
  <% end %>
<% end %>
</ul>

<!---------- LINKS ---------->
<div>
  <%= link_to 'Add New Details', new_apartment_detail_path(@apartment) %> |
  <%= link_to 'Back', hunt_apartments_path(@hunt.id) %>
</div>
