<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Apartment Show Page</title>
  <script src="https://maps.googleapis.com/maps/api/js"></script>
  <script>
  function initialize() {
    var map_canvas = document.getElementById('map_canvas');
    var map_options = {
      center: new google.maps.LatLng(44.5403, -78.5463),
      zoom: 8,
      mapTypeId: google.maps.MapTypeId.ROADMAP
    }
    var map = new google.maps.Map(map_canvas, map_options)
  }
  google.maps.event.addDomListener(window, 'load', initialize);
  </script>
</head>
<body>



  <!---------- BASIC APARTMENT INFORMATION ---------->
  <div class="page page-tasks ng-scope">
    <ol class="breadcrumb">
      <li><%= link_to "My Hunts", hunts_path %></a></li>
      <li><%= link_to @apartment.hunt.title, hunt_path(@hunt.id) %></a></li>
      <li class="active"><a href=""><%= @apartment.street %></a></li>
    </ol>
    <div class="row">
      <div class="col-md-5">
        <div class="panel panel-default">
          <div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span> <%= @apartment.street %> <%= @apartment.unit %> <%= @apartment.city %> <%= @apartment.state %> <%= @apartment.zip %></strong></div>
          <div class="panel-body">
            <div class="media">
              <div class="media-body">
                <ul class="list-unstyled list-info">
                  <li class="ng-binding">
                    <span class="icon glyphicon glyphicon-paperclip"></span>
                    <label>Link:</label>
                    <%= @apartment.link %>
                  </li>
                  <li>
                    <span class="icon glyphicon glyphicon-user"></span>
                    <label>Contact:</label>
                    <%= @apartment.contact %>
                  </li>
                  <li>
                    <span class="icon glyphicon glyphicon-usd"></span>
                    <label>Price:</label>
                    <%= @apartment.price %>
                  </li>
                  <li>
                    <span class="icon glyphicon glyphicon-calendar"></span>
                    <label>Move In Date:</label>
                    <%= @apartment.move_in_date %>
                  </li>
                  <li>
                    <span class="icon glyphicon glyphicon-globe"></span>
                    <label>Website:</label>
                    www.site.com
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>


      <!---------- IMAGE GALLERY ---------->
      <div class="row">
        <div class="col-md-6">
          <div class="panel panel-default">
            <div class="panel-heading">
              <strong><span class="glyphicon glyphicon-th"></span>
                <span>Gallery:</span>
                <div ng-controller="ModalDemoCtrl" class="addnewimg">
                  <script type="text/ng-template" id="inviteForm.html.erb">
                  <%= render 'details/form' %>
                  </script>
                  <a href="#" ng-click="open()">
                    Add Image <i class="fa fa-plus"></i>
                  </a>
                </div></strong>
              </div>
              <div class="panel-body">
                <div class="media">
                  <div class="media-body">
                    <ul class="bxslider">
                      <% @apartment.details.each do |detail| %>
                      <li><%= image_tag detail.image_url(:gallery) if detail.image_url %></li>
                      <% end %>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="divider"></div>

        <!---------- DETAILS ---------->
        <div class="row">
          <div class="col-md-12">
            <section class="task-container ng-scope" data-ng-controller="taskCtrl">

              <%= render 'details/form2' %>
              <div class="divider"></div>
              <div class="panel panel-default">
                <section>
                  <ul class="filters list-inline nav nav-tabs">
                    <li data-ng-class="{active: statusFilter == ''}">
                      <a href="" data-toggle="tab" data-ng-click="filter('active')">All</a>
                    </li>
                    <li data-ng-class="{active: statusFilter.completed == true }" class="active">
                      <a href="" data-toggle="tab" data-ng-click="filter('all')">Pro</a>
                    </li>
                    <li data-ng-class="{active: statusFilter.completed == false }">
                      <a href="" data-toggle="tab" data-ng-click="filter('completed')">Con</a>
                    </li>
                  </ul>
                </section>

                <section>
                  <ul class="task-list list-unstyled">
                    <% @apartment.details.each do |detail| %>
                    <li  class="ng-scope">
                      <span class="view">
                        <label data-ng-dblclick="edit(task)" class="ng-binding"><%= detail.content if detail.content %></label>
                        <span class="glyphicon glyphicon-pencil" data-ng-click="edit(task)"></span>
                        <span class="glyphicon glyphicon-remove" data-ng-click="remove(task, $index)"></span>
                      </span>
                    </li>
                    <%end%>
                  </ul>
                </section>

                <footer class="task-footer">
                  <ul class="list-inline clearfix">
                    <li class="first-item">
                      <input type="checkbox" id="toggle-all" data-ng-model="allChecked" data-ng-change="markAll(allChecked)" class="ng-pristine ng-valid">
                      <label for="toggle-all">Mark all as done</label>
                    </li>
                    <li class="text-center">
                      <span>
                        <strong class="ng-binding">5</strong>
                        <span class="text-muted" data-ng-pluralize="" count="remainingCount" when="{one: 'item left', other: 'items left'}">items left</span>
                      </span>
                    </li>
                    <li class="text-right">
                      <span class="clear-completed ng-binding ng-hide" data-ng-click="clearCompleted()" data-ng-show="remainingCount < tasks.length">Clear completed (0)</span>
                    </li>
                  </ul>
                </footer>

              </section>
            </div>
          </div>
        </div>

        <div class="col-md-12">
          <div class="panel panel-default">
            <div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span> <span>Details:</span></strong></div>
            <table class="table table-hover">
              <thead>
                <tr>
                  <th>Picture</th>
                  <th>Content</th>
                  <th>Pro/Con</th>
                  <th>Edit</th>
                </tr>
              </thead>
              <tbody>
                <% @apartment.details.each do |deet| %>
                <tr>
                  <td><%= image_tag deet.image_url(:thumb) if deet.image_url %></td>
                  <td><%= deet.content if deet.content %><br></td>
                  <td>
                    <%= form_for(deet) do |f| %>
                    <div class="field">
                      <%= f.label :procon, "Pro" %>
                      <%= f.radio_button :procon, "pro", :class => "pro" %><br>
                      <%= f.label :procon, "Con" %>
                      <%= f.radio_button :procon, "con", :class => "con" %>
                    </div>
                    <% end %>
                  </td>
                  <td><%= link_to 'Edit', edit_detail_path(deet) %></td>
                </tr>
                <% end %>
              </tbody>
            </table>


            <!---------- LINKS ---------->
            <div>
              <%= link_to 'Add New Details', new_apartment_detail_path(@apartment) %>
            </div>
            <div>
              PROS
            </div>
            <ul class="pro">
              <% @apartment.details.each do |det| %>
              <% if det.procon == "pro" %>
              <li data-id=<%= det.id %>><%= det.content if det.content %></li>
              <% end %>
              <% end %>
            </ul>

            <div>
              CONS
            </div>
            <ul class="con">
              <% @apartment.details.each do |det| %>
              <% if det.procon == "con" %>
              <li data-id=<%= det.id %>><%= det.content if det.content %></li>
              <% end %>
              <% end %>
            </ul>
          </div>
        </div>

        <!-- Google Map -->
        <div id="map_canvas">

        </div>

      </body>
      </html>
