<h3> Invite Search Collaborators </h3>

<%= form_for @invited_user, :url => user_invitation_path, :html => {:method => :post} do |f| %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </div>

  <p><%= f.submit t("devise.invitations.new.submit_button") %></p>
<% end %>


